<app-header></app-header>
<!--<app-cart></app-cart>-->
<!--<app-category></app-category>-->
<!--<app-search></app-search>-->

<!-- <app-breadcrumbs></app-breadcrumbs> -->

<!-- <app-login></app-login> -->

<!-- <app-payment></app-payment> -->

<app-register></app-register>
<!--<app-product></app-product>-->

<!-- <router-outlet></router-outlet> -->

<app-footer></app-footer>

<!--<div class="tp-app__content">-->
<!--<input type="text" #nameInput>-->
<!--<button (click)="sayHello()">Click me</button>-->
<!--</div>-->