<div class="container">
  <div class="row">
    <div id="center_column" class="center_column col-sm-12 col-md-12">
      <div itemscope="" itemtype="http://schema.org/Product">
        <meta itemprop="url" content="//leo-food.bizwebvietnam.net/sinh-to-hoa-qua">
        <meta itemprop="image" content="">
        <div class="primary_block">

          <div class="row">
            <div class="product-left-column col-xs-12 col-sm-12 col-md-5">
              <div id="image-block" class="image clearfix">

                                <span id="view_full_size">


                                        <img id="proimage" class="img-responsive" itemprop="image"
                                             src="//bizweb.dktcdn.net/thumb/grande/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
                                             alt="Sinh tố hoa quả">
                                        <span class="span_link no-print status-enable"></span>
                                </span>
              </div>

              <div id="views_block" class="clearfix ">
                <div id="thumbs_list" class="no-owl">
                  <ul id="thumblist" class="owl-carousel owl-theme" style="display: block; opacity: 1;">

                    <div class="owl-wrapper-outer">
                      <div class="owl-wrapper" style="width: 588px; left: 0px; display: block;">
                        <div class="owl-item" style="width: 98px;">
                          <li id="thumbnail_1" class="thumb_item shown ">
                            <a href="javascript:void(0)" data-imageid="3875053"
                               data-image="//bizweb.dktcdn.net/thumb/grande/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
                               data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
                               title="Sinh tố hoa quả">
                              <img class="img-responsive img-fix" id="thumb_1"
                                   src="//bizweb.dktcdn.net/thumb/compact/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
                                   alt="" itemprop="image">
                            </a>
                          </li>
                        </div>
                        <div class="owl-item" style="width: 98px;">
                          <li id="thumbnail_2" class="thumb_item  ">
                            <a href="javascript:void(0)" data-imageid="3747164"
                               data-image="//bizweb.dktcdn.net/thumb/grande/100/038/419/products/bg-obj01.png?v=1456080673133"
                               data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/038/419/products/bg-obj01.png?v=1456080673133"
                               title="Sinh tố hoa quả">
                              <img class="img-responsive img-fix" id="thumb_2"
                                   src="//bizweb.dktcdn.net/thumb/compact/100/038/419/products/bg-obj01.png?v=1456080673133"
                                   alt="" itemprop="image">
                            </a>
                          </li>
                        </div>
                        <div class="owl-item" style="width: 98px;">
                          <li id="thumbnail_3" class="thumb_item  last">
                            <a href="javascript:void(0)" data-imageid="3747163"
                               data-image="//bizweb.dktcdn.net/thumb/grande/100/038/419/products/207504-10362069-coffee-jpg-5e37f837-d06b-43cf-add8-4a6214109198.jpg?v=1456080673133"
                               data-zoom-image="//bizweb.dktcdn.net/thumb/1024x1024/100/038/419/products/207504-10362069-coffee-jpg-5e37f837-d06b-43cf-add8-4a6214109198.jpg?v=1456080673133"
                               title="Sinh tố hoa quả">
                              <img class="img-responsive img-fix" id="thumb_3"
                                   src="//bizweb.dktcdn.net/thumb/compact/100/038/419/products/207504-10362069-coffee-jpg-5e37f837-d06b-43cf-add8-4a6214109198.jpg?v=1456080673133"
                                   alt="" itemprop="image">
                            </a>
                          </li>
                        </div>
                      </div>
                    </div>


                    <div class="owl-controls clickable" style="display: none;">
                      <div class="owl-pagination">
                        <div class="owl-page"><span class=""></span></div>
                      </div>
                      <div class="owl-buttons">
                        <div class="owl-prev">&lt;</div>
                        <div class="owl-next">&gt;</div>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>

            </div>
            <div class="product-center-column col-xs-12 col-sm-12 col-md-7">
              <h1 itemprop="name">Sinh tố hoa quả</h1>
              <div class="product-description rte" itemprop="description">
                Nhà hàng X-Jo là một trong những nhà hàng ẩm thực nổi tiếng trên khu vực Phố Cổ chuyên về ẩm
                thực của Singapore như các món về gà tần thuốc bắc và những món ăn đặc sắc khác mang hương
                vị đặc trưng được chế biến tỉ mỉ và khéo léo bởi những người đam mê về văn...
              </div>


              <div class="product-extra">
                <ul class="list-unstyled description no-padding">
                  <li><b>Nhãn hiệu: </b><a href="/vendors?query="></a></li>
                  <li><b>Tình trạng: </b>
                    <span class="availability">

                                            <span class="available instock">Còn hàng</span>

                                        </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-right-column float-right col-xs-12 col-sm-12 col-md-7">
              <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="VND">
                <link itemprop="availability" href="http://schema.org/InStock">

                <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form">


                  <div class="product_price_content">



            <span id="ProductPrice" class="price on-sale" itemprop="price">
                    25.000₫
            </span>

                    <span class="old-price">
                    <span class="product-price-old">34.000₫</span>
                </span>


                  </div>


                  <input type="hidden" name="variantId" value="2246368">


                  <div class="quantity_wanted_p clearfix">
                    <label for="qty" class="quantity-selector">Số lượng</label>
                    <div class="pull-left">
                      <div class="custom pull-left">
                        <input type="number" id="Quantity" name="quantity" value="1" min="1"
                               class="input-text qty fix-inp-product">
                      </div>
                    </div>
                  </div>


                  <div class="border-box clear-fix">


                    <button class="btn btn-outline btn-cart ajax_addtocart" title="Thêm vào giỏ hàng">
                      <span><i class="icon-basket"></i> Thêm vào giỏ hàng</span></button>


                  </div>
                </form>
              </div>


              <div class="line-product"></div>

              <ul id="usefull_link_block" class="clearfix no-print list-inline">
                <li class="print">
                  <a href="javascript:print();"><i class="fa fa-print"></i> In</a>
                </li>
              </ul>
              <div class="line-product"></div>

              <div class="socialsharing_product no-print">
                <ul class="social-sharing list-unstyled">

                  <li>
                    <a class="btn social-sharing btn-twitter" href="javascript:void(0);"
                       data-type="twitter">
                      <i class="fa fa-twitter"></i> Tweet
                    </a>
                  </li>


                  <li>
                    <a class="btn social-sharing btn-facebook" href="javascript:void(0);"
                       data-type="facebook">
                      <i class="fa fa-facebook"></i> Facebook
                    </a>
                  </li>


                  <li>
                    <a class="btn social-sharing btn-google-plus" href="javascript:void(0);"
                       data-type="google-plus">
                      <i class="fa fa-google-plus"></i> Google+
                    </a>
                  </li>


                </ul>
              </div>
              <div style="display:none" id="content-share">
                <div class="share-desc">' + sharedesc + '</div>
                <div class="share-title">' + sharetitle + '</div>
              </div>
              <script type="text/javascript">
                $(document).ready(function () {
                  $('.btn.social-sharing').on('click', function () {
                    var sharedesc = $(".share-desc").text();
                    var sharetitle = $(".share-title").text();
                    type = $(this).attr('data-type');
                    if (type.length) {
                      switch (type) {
                        case 'twitter':
                          window.open('https://twitter.com/intent/tweet?text=Sinh tố hoa quả&amp;url=//leo-food.bizwebvietnam.net/sinh-to-hoa-qua', 'sharertwt', 'toolbar=0,status=0,width=640,height=445');
                          break;
                        case 'facebook':
                          window.open('http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fleo-food.bizwebvietnam.net/sinh-to-hoa-qua', 'sharer', 'toolbar=0,status=0,width=660,height=445');
                          break;
                        case 'google-plus':
                          window.open('https://plus.google.com/share?url=//leo-food.bizwebvietnam.net/sinh-to-hoa-qua', 'sharer', 'toolbar=0,status=0,width=660,height=445');
                          break;
                        case 'linkedin':
                          window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=//leo-food.bizwebvietnam.net/sinh-to-hoa-qua&amp;title=' + sharetitle + '&amp;summary=' + sharedesc + '&amp;source=http&#58;&#47;&#47;leo-food.bizwebvietnam.net/sinh-to-hoa-qua', 'sharerpinterest', 'toolbar=0,status=0,width=660,height=445');
                          break;
                        case 'pinterest':
                          window.open('http://pinterest.com/pin/create/button/?url=//leo-food.bizwebvietnam.net/sinh-to-hoa-qua&amp;description=' + sharedesc + '&amp;media=', 'sharerpinterest', 'toolbar=0,status=0,width=660,height=445');
                          break;
                      }
                    }
                  });
                });
              </script>


            </div>
          </div>
        </div>
        <div class="more_info_block">

          <ul class="nav nav-tabs tab-info page-product-heading">
            <li class="active">
              <a href="#idTab1" data-toggle="tab">Thông tin chi tiết</a>
            </li>
            <li>
              <a href="#idTab2" data-toggle="tab">Nhận xét</a>
            </li>
          </ul>
          <div class="tab-content">
            <section id="idTab1" class="tab-pane page-product-box active">
              <div class="rte">
                <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
                  Nhà hàng X-Jo là một trong những nhà hàng ẩm thực nổi tiếng trên khu vực Phố Cổ chuyên
                  về ẩm thực của Singapore như các món về gà tần thuốc bắc và những món ăn đặc sắc khác
                  mang hương vị đặc trưng được chế biến tỉ mỉ và khéo léo bởi những người đam mê về văn
                  hóa ẩm thực tại Singapore.</p>

                <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
                  Về cơ bản, torrija là món ăn mà người Tân Ban Nha học hỏi được từ một món ăn sáng phổ
                  biến của người Pháp là bánh mì nướng. Dễ làm và được yêu thích bởi mùi vị ngọt ngào,
                  người Tây Ban Nha chế biến torrija bằng cách ngâm bánh mì cứng vào trong trứng, sữa và
                  đường, rồi phết mật ong hoặc si-rô, đem nướng.</p>

                <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
                  Món ăn này thường được phục vụ trong những ngày nghỉ của lễ Phục Sinh. Rắc thêm đường
                  hoặc quế lên bề mặt, torrija được dọn kèm với ly sô-cô-la nóng, là&nbsp; bữa ăn sáng hấp
                  dẫn và đầy đủ chất dinh dưỡng.</p>

                <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal; text-align: center;">
                  <img alt=""
                       src="http://media.bizwebmedia.net/sites/28008/data/Upload/2014/9/breakfast_fruit_strawberry_blueberries_milk_food_hd_wallpaper.jpg"
                       style="width: 630px; height: 500px;"></p>
              </div>
            </section>
            <section id="idTab2" class="tab-pane page-product-box">

              <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid"
                   data-href="https://developers.facebook.com/docs/plugins" data-width="100%"
                   data-numposts="5" fb-xfbml-state="rendered"><span style="height: 18711px;"><iframe
                id="f1fa5edd9a0d038" name="f4d5e084aa65dc" scrolling="no" title="Facebook Social Plugin"
                class="fb_ltr"
                src="https://www.facebook.com/plugins/comments.php?api_key=483479355145437&amp;channel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FXBwzv5Yrm_1.js%3Fversion%3D42%23cb%3Df123b7ecee73a88%26domain%3Dleo-food.bizwebvietnam.net%26origin%3Dhttps%253A%252F%252Fleo-food.bizwebvietnam.net%252Ff179ccff3135c8%26relation%3Dparent.parent&amp;href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v2.5&amp;width=100%25"
                style="border: none; overflow: hidden; height: 18711px; width: 100%;"></iframe></span>
              </div>

            </section>
          </div>

        </div>
        <div class="product_related">


          <div id="productrelated01" class="products_block exclusive block">

            <h4 class="title_block">
              <span>Sản phẩm liên quan</span>
            </h4>

            <div class="block_content">

              <div class="owl-row">


                <div class="product_list_owl">
                  <div class="owl-carousel slide owl-theme" style="display: block; opacity: 1;">


                    <div class="owl-wrapper-outer">
                      <div class="owl-wrapper" style="width: 100%; left: 0px; display: block;">
                        <div class="owl-item active first" style="width: 25%;">
                          <div class="item">


                            <div class="product_block  ">
                              <div class="item-variant clearfix product-block">
                                <div class="product-meta">
                                  <h3 class="name">
                                    <a class="product-name"
                                       href="/collections/toan-chieu-rong/products/sinh-to-hoa-qua"
                                       title="Sinh tố hoa quả">Sinh tố hoa quả</a>
                                  </h3>

                                  <div class="review clearfix">
                                                                <span class="shopify-product-reviews-badge"
                                                                      data-id="1441801"></span>
                                  </div>

                                  <div class="content_price">


                    <span class="price product-price sale-price">
                        <span>25.000₫</span>
                    </span>


                                    <span class="old-price product-price">
                            <span>34.000₫</span>
                        </span>


                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="product-desc"> Nhà hàng X-Jo là một trong
                                    những nhà hàng ẩm thực nổi tiếng trên khu vực Phố Cổ
                                    chuyên về ẩm thực của Singapore như các món về gà...
                                  </div>
                                </div>
                                <div class="product-image-container image">
                                  <div class="layout-img">
                                    <a class="product_img_link"
                                       href="/collections/toan-chieu-rong/products/sinh-to-hoa-qua"
                                       title="Sinh tố hoa quả">
                                      <img class="replace-2x img-responsive"
                                           src="//bizweb.dktcdn.net/thumb/large/100/038/419/products/2518068breakfastfruitstrawberr-0191326f-27a1-4dd5-aadb-bfb69ec39df3.jpg?v=1456478319627"
                                           alt="Sinh tố hoa quả">


                                      <span class="product-additional"
                                            data-idproduct="1441801">




            <img class="replace-2x img-responsive" alt="Sinh tố hoa quả"
                 src="//bizweb.dktcdn.net/100/038/419/products/bg-obj01.png?v=1456080673133">

</span>


                                    </a>

                                  </div>


                                  <span class="product-label sale-box">
          <span class="label-sale">Sale</span>
        </span>


                                  <div class="right">
                                    <div class="action">


                                      <div class="quickview">
                                        <a class="quick-view btn-inverse btn"
                                           href="#quick-view-product"
                                           data-handle="sinh-to-hoa-qua"
                                           data-toggle="tooltip" title=""
                                           data-original-title="Xem nhanh">
                                          <i class="fa fa-search-plus"></i>
                                        </a>
                                      </div>
                                      <div class="view_detail">
                                        <a class="btn btn-inverse lnk_view"
                                           href="/collections/toan-chieu-rong/products/sinh-to-hoa-qua"
                                           data-toggle="tooltip" title=""
                                           data-original-title="Xem">
                                          <i class="fa fa-eye"></i>
                                        </a>
                                      </div>
                                      <div class="cart addtocart">

                                        <form action="/cart/add" method="post"
                                              enctype="multipart/form-data"
                                              class="form-ajaxtocart"
                                              id="product-actions-1441801">
                                          <input type="hidden" name="id"
                                                 value="2246368">


                                          <input type="hidden" name="variantId"
                                                 value="2246368">
                                          <button class="btn btn-outline-inverse ajax_addtocart"
                                                  type="submit" value="Submit">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Mua ngay</span>
                                          </button>


                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 25%;">
                          <div class="item">


                            <div class="product_block  ">
                              <div class="item-variant clearfix product-block">
                                <div class="product-meta">
                                  <h3 class="name">
                                    <a class="product-name"
                                       href="/collections/toan-chieu-rong/products/com-tam"
                                       title="Cơm tấm">Cơm tấm</a>
                                  </h3>

                                  <div class="review clearfix">
                                                                <span class="shopify-product-reviews-badge"
                                                                      data-id="1441165"></span>
                                  </div>

                                  <div class="content_price">


                    <span class="price product-price sale-price">
                        <span>25.000₫</span>
                    </span>


                                    <span class="old-price product-price">
                            <span>34.000₫</span>
                        </span>


                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="product-desc"> Nhà hàng X-Jo là một trong
                                    những nhà hàng ẩm thực nổi tiếng trên khu vực Phố Cổ
                                    chuyên về ẩm thực của Singapore như các món về gà...
                                  </div>
                                </div>
                                <div class="product-image-container image">
                                  <div class="layout-img">
                                    <a class="product_img_link"
                                       href="/collections/toan-chieu-rong/products/com-tam"
                                       title="Cơm tấm">
                                      <img class="replace-2x img-responsive"
                                           src="//bizweb.dktcdn.net/thumb/large/100/038/419/products/com-fix.jpg?v=1475284781323"
                                           alt="Cơm tấm">


                                      <span class="product-additional"
                                            data-idproduct="1441165">



</span>


                                    </a>

                                  </div>


                                  <span class="product-label sale-box">
          <span class="label-sale">Sale</span>
        </span>


                                  <div class="right">
                                    <div class="action">


                                      <div class="quickview">
                                        <a class="quick-view btn-inverse btn"
                                           href="#quick-view-product"
                                           data-handle="com-tam"
                                           data-toggle="tooltip" title=""
                                           data-original-title="Xem nhanh">
                                          <i class="fa fa-search-plus"></i>
                                        </a>
                                      </div>
                                      <div class="view_detail">
                                        <a class="btn btn-inverse lnk_view"
                                           href="/collections/toan-chieu-rong/products/com-tam"
                                           data-toggle="tooltip" title=""
                                           data-original-title="Xem">
                                          <i class="fa fa-eye"></i>
                                        </a>
                                      </div>
                                      <div class="cart addtocart">

                                        <form action="/cart/add" method="post"
                                              enctype="multipart/form-data"
                                              class="form-ajaxtocart"
                                              id="product-actions-1441165">
                                          <input type="hidden" name="id"
                                                 value="2245462">


                                          <input type="hidden" name="variantId"
                                                 value="2245462">
                                          <button class="btn btn-outline-inverse ajax_addtocart"
                                                  type="submit" value="Submit">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Mua ngay</span>
                                          </button>


                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 25%;">
                          <div class="item">


                            <div class="product_block  ">
                              <div class="item-variant clearfix product-block">
                                <div class="product-meta">
                                  <h3 class="name">
                                    <a class="product-name"
                                       href="/collections/toan-chieu-rong/products/pizza-hai-san"
                                       title="Pizza hải sản">Pizza hải sản</a>
                                  </h3>

                                  <div class="review clearfix">
                                                                <span class="shopify-product-reviews-badge"
                                                                      data-id="995766"></span>
                                  </div>

                                  <div class="content_price">


                    <span class="price product-price sale-price">
                        <span>83.000₫</span>
                    </span>


                                    <span class="old-price product-price">
                            <span>90.000₫</span>
                        </span>


                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="product-desc"> Nhà hàng X-Jo là một trong
                                    những nhà hàng ẩm thực nổi tiếng trên khu vực Phố Cổ
                                    chuyên về ẩm thực của Singapore như các món về gà...
                                  </div>
                                </div>
                                <div class="product-image-container image">
                                  <div class="layout-img">
                                    <a class="product_img_link"
                                       href="/collections/toan-chieu-rong/products/pizza-hai-san"
                                       title="Pizza hải sản">
                                      <img class="replace-2x img-responsive"
                                           src="//bizweb.dktcdn.net/thumb/large/100/038/419/products/2537682pizzarias1.jpg?v=1456566853723"
                                           alt="Pizza hải sản">


                                      <span class="product-additional"
                                            data-idproduct="995766">




            <img class="replace-2x img-responsive" alt="Pizza hải sản"
                 src="//bizweb.dktcdn.net/100/038/419/products/4751297avocadoprawnsalad-01c3e219-91fd-48d9-8f5c-1125e11be035.jpg?v=1456566853723">

</span>


                                    </a>

                                  </div>


                                  <span class="product-label sale-box">
          <span class="label-sale">Sale</span>
        </span>


                                  <div class="right">
                                    <div class="action">


                                      <div class="quickview">
                                        <a class="quick-view btn-inverse btn"
                                           href="#quick-view-product"
                                           data-handle="pizza-hai-san"
                                           data-toggle="tooltip" title=""
                                           data-original-title="Xem nhanh">
                                          <i class="fa fa-search-plus"></i>
                                        </a>
                                      </div>
                                      <div class="view_detail">
                                        <a class="btn btn-inverse lnk_view"
                                           href="/collections/toan-chieu-rong/products/pizza-hai-san"
                                           data-toggle="tooltip" title=""
                                           data-original-title="Xem">
                                          <i class="fa fa-eye"></i>
                                        </a>
                                      </div>
                                      <div class="cart addtocart">

                                        <form action="/cart/add" method="post"
                                              enctype="multipart/form-data"
                                              class="form-ajaxtocart"
                                              id="product-actions-995766">
                                          <input type="hidden" name="id"
                                                 value="8697313">


                                          <input type="hidden" name="variantId"
                                                 value="8697313">
                                          <button class="btn btn-outline-inverse ajax_addtocart"
                                                  type="submit" value="Submit">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Mua ngay</span>
                                          </button>


                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item active last" style="width: 25%;">
                          <div class="item">


                            <div class="product_block  ">
                              <div class="item-variant clearfix product-block">
                                <div class="product-meta">
                                  <h3 class="name">
                                    <a class="product-name"
                                       href="/collections/toan-chieu-rong/products/salad-garden"
                                       title="Salad Garden">Salad Garden</a>
                                  </h3>

                                  <div class="review clearfix">
                                                                <span class="shopify-product-reviews-badge"
                                                                      data-id="995765"></span>
                                  </div>

                                  <div class="content_price">


                    <span class="price product-price sale-price">
                        <span>45.000₫</span>
                    </span>


                                    <span class="old-price product-price">
                            <span>48.000₫</span>
                        </span>


                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="product-desc"> Nhà hàng X-Jo là một trong
                                    những nhà hàng ẩm thực nổi tiếng trên khu vực Phố Cổ
                                    chuyên về ẩm thực của Singapore như các món về gà...
                                  </div>
                                </div>
                                <div class="product-image-container image">
                                  <div class="layout-img">
                                    <a class="product_img_link"
                                       href="/collections/toan-chieu-rong/products/salad-garden"
                                       title="Salad Garden">
                                      <img class="replace-2x img-responsive"
                                           src="//bizweb.dktcdn.net/thumb/large/100/038/419/products/68-dc4f7172-ea-fix.jpg?v=1484798590480"
                                           alt="Salad Garden">


                                      <span class="product-additional"
                                            data-idproduct="995765">




            <img class="replace-2x img-responsive" alt="Salad Garden"
                 src="//bizweb.dktcdn.net/100/038/419/products/4952601sup-jpeg-fix-c6902802-f297-40da-8596-1c4a8378b061.jpg?v=1484798590480">

</span>


                                    </a>

                                  </div>


                                  <span class="product-label sale-box">
          <span class="label-sale">Sale</span>
        </span>


                                  <div class="right">
                                    <div class="action">


                                      <div class="quickview">
                                        <a class="quick-view btn-inverse btn"
                                           href="#quick-view-product"
                                           data-handle="salad-garden"
                                           data-toggle="tooltip" title=""
                                           data-original-title="Xem nhanh">
                                          <i class="fa fa-search-plus"></i>
                                        </a>
                                      </div>
                                      <div class="view_detail">
                                        <a class="btn btn-inverse lnk_view"
                                           href="/collections/toan-chieu-rong/products/salad-garden"
                                           data-toggle="tooltip" title=""
                                           data-original-title="Xem">
                                          <i class="fa fa-eye"></i>
                                        </a>
                                      </div>
                                      <div class="cart addtocart">

                                        <form action="/cart/add" method="post"
                                              enctype="multipart/form-data"
                                              class="form-ajaxtocart"
                                              id="product-actions-995765">
                                          <input type="hidden" name="id"
                                                 value="8714750">


                                          <a class="btn btn-outline-inverse ajax_addtocart"
                                             href="/collections/toan-chieu-rong/products/salad-garden">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="select_options">Chọn ngay</span>
                                          </a>


                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>


                    <div class="owl-controls clickable">
                      <div class="owl-pagination">
                        <div class="owl-page active"><span class=""></span></div>
                        <div class="owl-page"><span class=""></span></div>
                        <div class="owl-page"><span class=""></span></div>
                      </div>
                      <div class="owl-buttons">
                        <div class="owl-prev"><i class="fa fa-‹"></i></div>
                        <div class="owl-next"><i class="fa fa-›"></i></div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>
          <script type="text/javascript">
            $(document).ready(function () {

              $('#productrelated01 .owl-carousel').each(function () {
                $(this).owlCarousel({
                  items: 4,
                  lazyLoad: true,
                  navigation: true,
                  addClassActive: true,
                  afterInit: SetOwlCarouselFirstLast,
                  afterAction: SetOwlCarouselFirstLast,

                  navigationText: ["<i class='fa fa-‹'></i>", "<i class='fa fa-›'></i>"]
                });
              });

              function SetOwlCarouselFirstLast(el) {
                el.find(".owl-item").removeClass("first");
                el.find(".owl-item.active").first().addClass("first");

                el.find(".owl-item").removeClass("last");
                el.find(".owl-item.active").last().addClass("last");
              };

            });
          </script>


        </div>
      </div>
    </div>
  </div>
</div>
