<div id="catalog_block" class="block ajax-filter block_shopby">
  <div class="title_block"><span>Bộ lọc sản phẩm</span></div>
  <div class="block_content" style="">
    <!-- SHOP BY SIZE -->
    <div class="catalog_filters">
      <div class="catalog_subtitle_heading">
        <span class="catalog_subtitle">Kích Cỡ</span></div>
      <ul id="ul_catalog_size"
          class="col-md-12 catalog_filter_ul list-unstyled">
        <li class="advanced-filter col-md-6"
            data-group="Kích Cỡ" data-handle="xs">
          <input class="chkval" type="checkbox"
                 name="Kích" cỡ="" value="xs"><a href="/collections/all/xs"
                                                 title="xs">XS</a></li>
        <li class="advanced-filter col-md-6"
            data-group="Kích Cỡ" data-handle="s">
          <input class="chkval" type="checkbox"
                 name="Kích" cỡ="" value="s"><a href="/collections/all/s"
                                                title="s">S</a></li>
        <li
          class="advanced-filter col-md-6"
          data-group="Kích Cỡ" data-handle="m">
          <input class="chkval" type="checkbox"
                 name="Kích" cỡ="" value="m"><a href="/collections/all/m"
                                                title="m">M</a></li>
        <li
          class="advanced-filter col-md-6"
          data-group="Kích Cỡ" data-handle="l">
          <input class="chkval" type="checkbox"
                 name="Kích" cỡ="" value="l"><a href="/collections/all/l"
                                                title="l">L</a></li>
        <li class="advanced-filter col-md-6"
            data-group="Kích Cỡ"
            data-handle="xl">
          <input class="chkval"
                 type="checkbox" name="Kích"
                 cỡ="" value="xl"><a href="/collections/all/xl"
                                     title="xl">XL</a></li>
      </ul>
    </div>
    <!-- SHOP BY PRICE -->
    <div class="catalog_filters">
      <div class="catalog_subtitle_heading">
        <span class="catalog_subtitle">Giá</span></div>
      <ul id="ul_catalog_price"
          class="col-md-12 catalog_filter_ul list-unstyled">
        <li class="advanced-filter"
            data-group="Giá" data-handle="duoi-30-000d">
          <input class="chkval" type="checkbox"
                 name="Giá" value="duoi-30-000d"><a href="/collections/all/duoi-30-000d"
                                                    title="duoi-30-000d">Dưới 30.000đ</a></li>
        <li class="advanced-filter"
            data-group="Giá" data-handle="30-000d-100-000d">
          <input class="chkval" type="checkbox"
                 name="Giá" value="30-000d-100-000d"><a href="/collections/all/30-000d-100-000d"
                                                        title="30-000d-100-000d">30.000đ -
          100.000đ</a></li>
        <li class="advanced-filter"
            data-group="Giá" data-handle="tren-100-000d">
          <input class="chkval" type="checkbox"
                 name="Giá" value="tren-100-000d"><a href="/collections/all/tren-100-000d"
                                                     title="tren-100-000d">Trên 100.000đ</a></li>
      </ul>
    </div>
    <!-- SHOP BY Color -->
    <div class="catalog_filters">
      <div class="catalog_subtitle_heading">
        <span class="catalog_subtitle">Màu Sắc</span></div>
      <ul id="ul_catalog_color"
          class="col-md-12 list-unstyled color-group">
        <li class="advanced-filter col-lg-6"
            data-group="Bộ lọc sản phẩm"
            data-handle="trang"> <span class="catalog_color"
                                       style="background-color:#ffffff">&nbsp;</span>
          <input class="chkval" type="checkbox"
                 name="Bộ" lọc="" sản=""
                 phẩm="" value="trang"><a href="/collections/all/trang"
                                          title="trang">Trắng</a></li>
        <li class="advanced-filter col-lg-6"
            data-group="Bộ lọc sản phẩm"
            data-handle="bac"> <span class="catalog_color"
                                     style="background-color:#C0C0C0">&nbsp;</span>
          <input class="chkval" type="checkbox"
                 name="Bộ" lọc="" sản=""
                 phẩm="" value="bac"><a href="/collections/all/bac"
                                        title="bac">Bạc</a></li>
        <li class="advanced-filter col-lg-6"
            data-group="Bộ lọc sản phẩm"
            data-handle="xam"> <span class="catalog_color"
                                     style="background-color:#808080">&nbsp;</span>
          <input class="chkval" type="checkbox"
                 name="Bộ" lọc="" sản=""
                 phẩm="" value="xam"><a href="/collections/all/xam"
                                        title="xam">Xám</a></li>
        <li class="advanced-filter col-lg-6"
            data-group="Bộ lọc sản phẩm"
            data-handle="den"> <span class="catalog_color"
                                     style="background-color:#000000">&nbsp;</span>
          <input class="chkval" type="checkbox"
                 name="Bộ" lọc="" sản=""
                 phẩm="" value="den"><a href="/collections/all/den"
                                        title="den">Đen</a></li>
        <li class="advanced-filter col-lg-6"
            data-group="Bộ lọc sản phẩm"
            data-handle="do"> <span class="catalog_color"
                                    style="background-color:#FF0000">&nbsp;</span>
          <input class="chkval" type="checkbox"
                 name="Bộ" lọc="" sản=""
                 phẩm="" value="do"><a href="/collections/all/do"
                                       title="do">Đỏ</a></li>
        <li class="advanced-filter col-lg-6"
            data-group="Bộ lọc sản phẩm"
            data-handle="vang"> <span class="catalog_color"
                                      style="background-color:#FFFF00">&nbsp;</span>
          <input class="chkval" type="checkbox"
                 name="Bộ" lọc="" sản=""
                 phẩm="" value="vang"><a href="/collections/all/vang"
                                         title="vang">Vàng</a></li>
        <li class="advanced-filter col-lg-6"
            data-group="Bộ lọc sản phẩm"
            data-handle="xanh-la"> <span class="catalog_color"
                                         style="background-color:#008000">&nbsp;</span>
          <input class="chkval" type="checkbox"
                 name="Bộ" lọc="" sản=""
                 phẩm="" value="xanh-la"><a href="/collections/all/xanh-la"
                                            title="xanh-la">Xanh Lá</a></li>
        <li class="advanced-filter col-lg-6"
            data-group="Bộ lọc sản phẩm"
            data-handle="xanh-bien">
                <span class="catalog_color"
                      style="background-color:#0000FF">&nbsp;</span>
          <input class="chkval" type="checkbox"
                 name="Bộ" lọc="" sản=""
                 phẩm="" value="xanh-bien"><a href="/collections/all/xanh-bien"
                                              title="xanh-bien">Xanh Biển</a></li>
      </ul>
    </div>
  </div>
</div>
