<div class="search_block_top clearfix">
  <div class="nav-search visible">
    <form class="input-group searchbox search-box" action="/search" method="get" role="search">
      <div class="filter_type category_filter input-group-addon group-addon-select icon-selec">
        <select name="category_id" class="no-border">
          <option value="0">Tất cả các danh mục</option>
          <option value="">Cơm</option>
          <option value="">Cơm</option>
          <option value="">Cơm</option>
          <option value="">Cơm</option>
        </select>
      </div>
      <div class="search-input-wrapper clearfix input-group">
        <input class="search_query_top form-control input-lg input-search" size="35" type="search" name="query" value="" placeholder="Tìm kiếm ..." aria-label="Tìm kiếm ...">
        <span class="input-group-addon input-group-search">
                          <button class="search_button" type="submit">Tìm kiếm</button>
                          </span>
      </div>
    </form>
  </div>
</div>
