.template-customers-addresses #pagination{
	clear: both;
}

    
    	
		
		
	
    	
		
		
	
    	
		
		
	
    	
		
		
	
    	
		
		
	
    	
		
		
	
    	
		
		
	
    	
		
		
	
    	
		
		
			.menu-icon-9{
              	background: url("//bizweb.dktcdn.net/100/038/419/themes/49902/assets/vertical_icon_9.png?1489825514756") no-repeat left center;
            }
		
	
    	
		
		
			.menu-icon-10{
              	background: url("//bizweb.dktcdn.net/100/038/419/themes/49902/assets/vertical_icon_10.png?1489825514756") no-repeat left center;
            }